@import url(//db.onlinewebfonts.com/c/1e129bd49263cbc8354756df5045168f?family=Bodoni);
body {
	background-color: rgb(0, 0, 0);
	color: #FFF;
	font-family:Bodomi;
}

a {
	color: rgb(255, 255, 255);
	text-decoration:none;
}
.storeImg {
	width: 300px;
}
.storeP {
	margin-top:0px;
	margin-bottom:0px;
}
.center {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.navH {
	font-size:30px;
	padding-left: 10px;
	padding-right: 10px;
}
h1 {
	margin-top: 0px;
}
.h1Head{
	text-align:center;
	color:white;
}
.row {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.title{
	height:25%;
}
.description{
	height:50%;
}
.clickHere{
	height:25%;
}
.height100{
	height:100%;
}
.product{
		color: rgb(0, 229, 208);
}
.footer {
  position: fixed;
  bottom: 0;
}
	.regNav{
		display:none;
	}
 	.phoneNav{
		display:initial;
	}
	.carImg{
		 height: 300px;
    	width: 100%;
    	object-fit: cover;
	}
	.navPhone{
		background-color:white;
		color:black;
		position:absolute;
		z-index:1;
		width:100%;
	}
	#ohone{
		display:none;
	}
 @media screen and (min-width: 800px) {
	 
	.phoneNav{
		display:none;
	}
	.regNav{
		display:initial;
	}
	.carImg{
		 height: 500px;
    	width: 100%;
    	object-fit: cover;
	}
	.navPhone{
	display:none;
	}
 }